/* Header */
.admin-bar {
	header#header {
		top: 32px;

		@include at-query($max, 782px) {
			top: 45px;

			&.nav-up {
			    top: -115px;
			}
		}
	}
}

#wpadminbar {
	position: fixed !important;
}

header#header {
	min-height: 62px;
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0;
    -webkit-transition: top 0.2s ease-in-out;
       -moz-transition: top 0.2s ease-in-out;
         -o-transition: top 0.2s ease-in-out;
    	    transition: top 0.2s ease-in-out;
	
	&.nav-up {
	    top: -75px;
	}

	nav {
		&.navbar-fixed-top {
			background: #fff;
			position: relative;
			margin-bottom: 0;
		}

		.navbar__left {
		  	padding-top: 10px;
		    width: 15%;
		    min-width: 48px;
		    height: 100%;
		    display: inline-block;
		    float: left;
		    text-align: center;

		    .logo-main img {
				max-height: 40px;
				max-width: 100%;
			}

			@include at-query($max, $small) {
				display: block;
				width: 100%;
			}
		}

		.navbar__right {
		    float: left;
		    width: 85%;
		    display: inline-block;

		    @include at-query($max, $small) {
		    	display: block;
				width: 100%;
		    }

		    .site-nav {
		    	margin-bottom: 0;

		    	@include at-query($max, $small) {
					padding: 0;
					text-align: center;
				}

				.menu-item {
					height: 62px;
					position: relative;
				    font-size: 12px;
				    font-weight: bold;
				    line-height: 1.75;
				    letter-spacing: 0.04em;
				    color: #3a3a3a;
				    padding: 20px 18px;
				    display: inline-block;
				    vertical-align: middle;
				    -webkit-tap-highlight-color: transparent;
				    box-sizing: border-box; 

				    &:hover {
						color: #3a3a3a;
						outline: none;
					    text-decoration: none;
					    background-color: #f9f9f9;
					}

					& > a {
						padding: 0 !important;
						color: #3a3a3a;
						
						&:hover {
							text-decoration: none;
						}
					}	
				}
		    }
		}
	}
}

